@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{

    padding: 10px;
}

h2{
    color: #000000ba;
}

h2 a{
    text-decoration: none;
    color: #952004;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.379);
    padding: 10px;
    border-radius: 10px;
}

h2 a:hover{
    color: #f84d37;
    border-style: solid;
    border-width: 1px 0px 1px 0px; /*top right bottom left*/
    border-color: #ff330064;
    padding: 9px 10px 9px 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.556);
}

audio{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.379);
    border-radius: 25px ;
}

audio:hover{
    box-shadow: 0px 4px 8px 0px rgba(255, 0, 0, 0.379);
}